

a[href^='mailto']::before {
    content: '📧 ';
  }
  
  a[href^='tel']::before {
    content: '📞 ';
  }
  ul{
    list-style-type: none;
  }
  body {
    background-image: url('assets/background.jpg'); /* Path to your background image */
    background-size: cover; /* Cover the entire page */
    background-attachment: fixed; /* Fixed attachment for scrolling effect */
    background-position: center; /* Center the image */
    color: #333; /* Text color for contrast */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    min-height: 100vh; /* Ensure body takes full height */
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    padding: 56px;
}

.dynamic-time {
    font-size: 2rem; /* Increase font size */
    color: black; 
    animation: pulse 1.5s infinite; /* Pulsing effect */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.content {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 40px; /* Padding for spacing */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Drop shadow for depth */
    z-index: 2; /* Ensure it appears above the overlay */
    color:black;
}
  
.parinte{
  display:flex;
}
.copil{
  width:90%;
}